@{
   
             Layout = "~/Views/Shared/_Layout.cshtml";
         

    
    }
<!DOCTYPE html>
<html>
<head>
 <style>
     body {
         background-image: url(../Content/Images/hosp2.png);
    background-repeat:no-repeat;
         background-size:cover;
       
     }
 </style>
</head>
<body style="">

</body>
</html>