
@{
    ViewBag.Title = "DashSuper";
}

<h2>DashSuper</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class=" container vh-100 align-content-center">
        <div class="container">
            <br />
            <br />
            <br />

            <div class="form-row" style="padding-left:100px;">
                <div class="form-group col-md-5">
                    <div class="card bg-success text-white;" style="width: 25rem; height: 17rem; color: white;">
                        <div class="card-body;">
                            <div class="card-header text-center" style="font-size:16px;">Report</div>

                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left:20px; padding-top:20px;">
                                <li><a href='@Url.Action("PatientList","PatientReport")' class="card-link" style="color: white; font-size:16px;">Generate New Report</a></li>
                                <li><a href='@Url.Action("PatientList","PatientReport")' class="card-link" style="color: white; font-size:16px;">View Existing Report</a></li>
                                <li><a href='@Url.Action("PatientList","PatientReport")' class="card-link" style="color: white; font-size:16px;">Edit Existing Report</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form group col-md-5">
                    <div class="card bg-primary text-white ; " style="width: 25rem; height: 17rem; color: white;">
                        <div class="card-body;">
                            <div class="card-header text-center" style="font-size:16px;">Doctors</div>

                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left:20px; padding-top:20px;">
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;"> Add New Doctor Info</a></li>
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;">Edit Existing Info</a></li>
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;">Delete Info</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="form-row" style="padding-left:100px;">
                <div class="form-group col-md-5">
                    <div class="card bg-info text-white;" style=" width: 25rem; height: 17rem;  color: white; ">
                        <div class="card-body;">
                            <div class="card-header text-center" style="font-size: 16px ">Patients</div>

                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left:20px; padding-top:20px;">
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;"> Add New Patient Info</a></li>
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;">Edit Existing Info</a></li>
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;">View Report summary</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="form-group col-md-5">
                    <div class="card bg-warning text-white;" style="width: 25rem;height: 17rem; color: white;">
                        <div class="card-body;">
                            <div class="card-header text-center" style="font-size:16px;">Staff</div>
                            
                                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                <ul style="padding-left:20px; padding-top:20px;">
                                 <li><a href="#" class="card-link" style="color: white; font-size:16px;"> Add New Info</a></li>                                
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;">Update Existing</a></li>
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;">Delete Info</a></li>
                                </ul>
                         
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="form-row" style="padding-left:100px;">
                <div class="form-group col-md-5">
                    <div class="card bg-danger text-white;" style="width: 25rem;height: 17rem; color: white;">
                        <div class="card-body;">
                            <div class="card-header text-center" style="font-size:16px;">Discharge</div>

                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left:20px; padding-top:20px;">
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;"> Payment</a></li>
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;">Fill Discharge form</a></li>
                                <li><a href="#" class="card-link" style="color: white; font-size:16px;">View Discharge summary</a></li>
                        </div>
                    </div>
                </div>

            </div>
            <
        </div>
    </div>

</body>
</html>
