
@{
    ViewBag.Title = "Dashacc";
    if(ViewBag.layout==3)
    {
            Layout = "~/Views/Shared/_LayoutAcc.cshtml";
    }
    else
    {
            Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class=" container vh-100 align-content-center">
        <div class="container">
            <br />
            <br />
            <br />
            <div class="form-row" style="padding-left:100px;margin-top:60px">
                <div class="form-group col-md-4">
                    <div class="card bg-danger text-white ;" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);width: 25rem;height: 17rem; color: white;border:none;border-radius:15px">
                        <div class="card-header text-xl-right " style="font-size:20px;">
                            <div class=" fa fa-user-md text-xl-left" style="font-size:20px;margin-right:110px"></div>
                            Payment
                        </div>
                        <div class="card-body;">


                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                            <ul style="padding-left:20px; padding-top:25px;">
                                <li><a href='@Url.Action("PatientListAcc","Payments",new { l=3})' class="card-link" style="color: white; font-size:16px;">Payment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>